<div ng-app="forgotPasswordApp" ng-init="init()" ng-controller="ForgotPasswordController">
   <h1>Forgot password</h1>
    <p>We’ll send your username and a link to reset your password.</p>
    <form name="fpwdForm" novalidate>
    	<div>
    		<input name="email" type="text" placeholder='Email' ng-model="EmailAddress" required />
        	<span ng-show="fpwdForm.email.$invalid && !fpwdForm.email.$pristine">
        		You kidding? Did you lose your email too?
    		</span>
    	</div>
    	<div>
	    	<button ng-show="currentPageState == pageStates.ready" ng-click="submit()">submit</button>
	    	<button ng-show="currentPageState == pageStates.emailAddressSubmissionFailed || currentPageState == pageStates.emailAddressNotFoundInSystem" ng-click="submit()">retry</button>
	        <button ng-show="currentPageState == pageStates.emailAddressSubmitting" disabled="disabled">submitting...</button>
	        <a href="/sign-in" >back to sign in</a>
    	</div>
    	<div ng-show="currentPageState == pageStates.emailAddressSubmittedSuccessfully">
    		We have emailed you instructions on how to reset your password.
		</div>
    	<div ng-show="currentPageState == pageStates.emailAddressSubmissionFailed">
			Oops! Apologies. Something went wrong.
		</div>
    	<div ng-show="currentPageState == pageStates.emailAddressNotFoundInSystem">
            Sorry, We dont recognize that email.
		</div>
    </form>
</div>

<script type="text/javascript">
	angular.module('forgotPasswordApp', []);
	angular.module('forgotPasswordApp', []).config(function($interpolateProvider){
    	$interpolateProvider.startSymbol('{[').endSymbol(']}');
	});
</script>

<script type="text/javascript" src="/javascripts/app/controllers/forgot-password-controller.js"></script>