<div>
    <h1>Sign In</h1>
    <form action="/sign-in" method="post">
        <input type="text" name="username" placeholder='Email'/>
        <input type="password" name="password" placeholder='Password' />
        <button class="btn btn-default" type="submit">sign in</button>
        <a href="/forgot-password" class="btn btn-primary" type="button">forgot password?</a>
        <a href="/register">Create an account</a>
    </form>
</div>