<link rel='stylesheet' href='/stylesheets/signin.css' />
<div class="row single-pg">
	<div class="col-md-8 msg">
		<div class="logo">
			<img src="/stylesheets/images/logo.png" />
		</div>
		<h3>Simple, effective project management webapp for fast moving teams.</h3>
		<div class="features">
			<ul>
				<li>Simple</li>
				<li>Fast</li>
				<li>Beautiful</li>
			</ul>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Sign in</h3>
		  </div>
		  <div class="panel-body">
		    <form action="/sign-in" method="post" class="form-signin" >
			    <div class="username">
			    	<label for="username">Email address</label>
			    	<input type="textbox" name="username" class="form-control" required autofocus tabindex="1">
			    </div>
			    <div class="password">
			    	<label class="pull-left" for="password">Password</label>
			    	<a class="pull-right" href="/forgot-password">forgot password?</a>
			    	<input type="password" name="password" class="form-control" required  tabindex="2">	
			    </div>
			    {{#if error}}
				  	<div class="error text-danger">
	    				The username or password you have entered is incorrect.
		    		</div>
				{{/if}}
			    <div class="buttons">
			    	<button class="btn btn-success pull-left" type="submit" tabindex="3">Sign in</button>
					<span class="pull-right other-links">
						<label>
							Don't have an account?&nbsp;<a href="/sign-up" class="pull-right" tabindex="4">Sign Up</a>
						</label>
					</span>
					
				</div>			    
			</form>				
		  </div>
		</div>		
	</div>
</div>