 <div ng-app="project-management" ui-view ng-cloak=""></div>

<script type="text/javascript">
	var routerApp = angular.module('project-management', ['ui.bootstrap', 'ui.router']);
	routerApp.config(function($stateProvider, $urlRouterProvider) {	    
	    $urlRouterProvider.otherwise('/dashboard');	    
	    $stateProvider
	        .state('dashboard', {
	            url: '/dashboard',
	            templateUrl: '/templates/dashboard.html',
	            controller: 'DashboardController'
	        })
            .state('project-issues', {
	            url: '/project/:id/issues',
	            templateUrl: '/templates/project.html',
	            controller: 'ProjectIssuesController'
	        })
            .state('project-documents', {
	            url: '/project/:id/documents',
	            templateUrl: '/templates/project.html',
	            controller: 'ProjectDocumentsController'
	        })
            .state('project-team', {
	            url: '/project/:id/team',
	            templateUrl: '/templates/project.html',
	            controller: 'ProjectTeamController'
	        })
            .state('project-settings', {
	            url: '/project/:id/settings',
	            templateUrl: '/templates/project.html',
	            controller: 'ProjectSettingsController'
	        });

	});
</script>

<script type="text/javascript" src="/javascripts/app/services/project-service.js"></script>
<script type="text/javascript" src="/javascripts/app/controllers/new-project-controller.js"></script>
<script type="text/javascript" src="/javascripts/app/controllers/dashboard-controller.js"></script>
<script type="text/javascript" src="/javascripts/app/controllers/project-controller.js"></script>
<script type="text/javascript" src="/javascripts/app/controllers/project-issues-controller.js"></script>
<script type="text/javascript" src="/javascripts/app/controllers/project-documents-controller.js"></script>
<script type="text/javascript" src="/javascripts/app/controllers/project-settings-controller.js"></script>
<script type="text/javascript" src="/javascripts/app/controllers/project-team-controller.js"></script>