 <div ng-app="project-management" ui-view ng-cloak=""></div>

<script type="text/javascript">
	var routerApp = angular.module('project-management', ['ui.bootstrap', 'ui.router']);
	routerApp.config(function($stateProvider, $urlRouterProvider) {	    
	    $urlRouterProvider.otherwise('/dashboard');	    
	    $stateProvider
	        .state('dashboard', {
	            url: '/dashboard',
	            templateUrl: '/templates/dashboard.html',
	            controller: 'DashboardController'
	        })
            .state('project', {
	            url: '/project/:id',
	            templateUrl: '/templates/project.html',
	            controller: 'ProjectController'
	        });

	});
</script>

<script type="text/javascript" src="/javascripts/app/services/project-service.js"></script>
<script type="text/javascript" src="/javascripts/app/controllers/new-project-controller.js"></script>
<script type="text/javascript" src="/javascripts/app/controllers/dashboard-controller.js"></script>
<script type="text/javascript" src="/javascripts/app/controllers/project-controller.js"></script>