<div class="container-fluid" ng-init="init()">
	<div class="col-md-9">
		<h3>
			Hello there, Let's get started.
		</h3>		
		<div>
			<ul>
				<li><a href="" ng-click="newProject();">Create your first project</a></li>
				<li><a href="#">Complete your profile</a></li>
				<li><a href="#">Follow us on facebook</a></li>
				<li><a href="#">Follow us on twitter</a></li>
			</ul>
		</div>
	</div>      
	<div class="col-md-3">
		<div class="panel panel-default projects">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<span class="pull-left title">Your projects<span class="badge" ng-if="!projects.loading">{{projects.data.length}}</span></span>
		    	<span class="pull-right btn btn-success btn-xs" ng-click="newProject();">+ New Project</span>
		    </h3>
		  </div>
		  <div class="panel-body">
            <div ng-if="projects.loading">
                Loading&nbsp;<i class="fa fa-spin fa-spinner" />
            </div>
	    	<div ng-if="projects.data.length == 0 && !projects.loading">
	    		You don't have any projects yet!<br/>
	    		<a href="" ng-click="newProject();">Create your first project.</a>
	    	</div>
            <div ng-if="projects.data.length > 0" ng-repeat="p in projects.data">
	    		<span>
                    <a href="#/projects/{{p.id}}/{{p.name}}">{{p.name}}</a>
                </span>
	    	</div>

		  </div><!-- eof panel-body-->
		</div><!-- eof panel-->
	</div>      
</div>