<div class="container-fluid">
	<div class="col-md-9">
		<h3>
			Let's get started.
		</h3>		
		<div>
			<ul>
				<li><a href="" ng-click="newProject();">Create your first project</a></li>
				<li><a href="#">Complete your profile</a></li>
				<li><a href="#">Follow us on facebook</a></li>
				<li><a href="#">Follow us on twitter</a></li>
			</ul>
		</div>
	</div>      
	<div class="col-md-3">
		<div class="panel panel-default projects">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<span class="pull-left title">Your projects<span class="badge">0</span></span>
		    	<span class="pull-right btn btn-success btn-xs" ng-click="newProject();">+ New Project</span>
		    </h3>
		  </div>
		  <div class="panel-body">
	    	<div>
	    		You don't have any projects yet!<br/>
	    		<a href="" ng-click="newProject();">Create your first project.</a>
	    	</div>		
		  </div><!-- eof panel-body-->
		</div><!-- eof panel-->
	</div>      
</div>