<div ng-show="project.loading" class="container-fluid main">
	<div><i class="fa fa-spin fa-spinner" />&nbsp;Loading...</div>
</div>
<div ng-hide="project.loading" class="container-fluid main" ng-init="init()">
	<div class="col-md-9">
		<h4>
			<a href="#dashboard">Projects</a>
			<i class="fa fa-caret-right"/>
			<a href="#project/{{project.data.id}}">{{project.data.name}}</a>
		</h4>
	</div>      
	<div class="col-md-3">
		<div class="panel panel-default projects">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<span class="pull-left title">Summary<span class="badge">{{projects.data.length}}</span></span>
		    	<span class="pull-right btn btn-success btn-xs" ng-click="newIssue();">+ New Issue</span>
		    </h3>
		  </div>
		  <div class="panel-body">
            <div ng-if="projects.loading">
                Loading&nbsp;<i class="fa fa-spin fa-spinner" />
            </div>
	    	<div ng-if="projects.data.length == 0">
	    		You don't have any projects yet!<br/>
	    		<a href="" ng-click="newProject();">Create your first project.</a>
	    	</div>
            <div ng-if="projects.data.length > 0" ng-repeat="p in projects.data">
	    		<span>
                    <a href="#/projects/{{p.id}}/{{p.name}}">{{p.name}}</a>
                </span>
	    	</div>

		  </div><!-- eof panel-body-->
		</div><!-- eof panel-->
	</div>      
</div>