/**********************************************************
	
	1. FONTS

	2. COMMON

***********************************************************/

/* 1. FONTS ***********************************************/
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);*/

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(fonts/montserrat-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(fonts/montserrat-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body, button, input, h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat', 'Segoe UI', Tahoma, Arial, sans-serif !important;}
.form-control {font-size: 13px;color: #333;}

/* 2. COMMON **********************************************/
body {background: #EDEDEB;}
html, body, input {font-size: 12px;}
.body-content{ margin-top: 60px;}
.checkbox input[type=checkbox] {margin-top: 2px;}
label {font-weight: normal;}
.dropdown-menu>li>a {font-size: 12px;}
.footer {margin-left: 43px;margin-top: 40px;border-top: 1px solid #C1C1C1;margin-right: 47px;color: #C1C1C1;padding: 10px;}
.mb10 {margin-bottom: 10px;}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/* 3 LAYOUTS *********************************************/
body {padding-top: 50px;}
.wrapper-container {width: 100%;}
.navbar {padding-left: 25px;padding-right: 30px;}
.navbar-inverse{background:#1F2533;border: none;}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{color:#B5B9C5}

/* 4 DIALOGS*********************************************/
.modal-dialog .modal-header {background: #1F2533;color: #fff;text-transform: uppercase;height: 50px}
.modal-dialog .modal-header h3  {font-size: 18px;}
.modal {text-align: center;}
.modal-dialog {display: inline-block;text-align: left;vertical-align: middle;margin-top: -50px;}
.modal-dialog .fa-close {top: 4px;position: relative;right: 4px;color: #ddd;}
.modal-dialog .fa-close:hover {color: #fff;cursor: pointer;}
.modal-dialog input[type=text] {width: 600px;}
.modal-dialog .btn {width: 150px;}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

/* 5 PROJECTS *********************************************/
.projects .panel-title {height: 20px;}
.projects .panel-title .title {font-size: 14px;margin-top: 3px;}
.projects .panel-title .title .badge {margin-left: 6px;}

