<div class="modal-header">
    <h3 class="modal-title pull-left">Create a new issue</h3>
    <img src="https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-22-32.png" ng-click="cancel()" class="pull-right" />
</div>
<div id="new-issue" class="modal-body">
    <form ng-init="init()" class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label>TITLE</label>
                <input type="text" class="form-control" ng-model="project.name" autofocus required="">
            </div>
            <div class="form-group">
                <label>COMMENT</label>
                <textarea class="form-control" ng-model="project.name" autofocus required=""></textarea>
                <span class="dragdrop"><i  class="fa fa-paperclip"></i>&nbsp; Drag and drop to upload or, <a href="#">Select files...</a></span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label>ASSIGNEE</label>
                <input type="text" class="form-control" ng-model="project.name" autofocus required="">
            </div>
            <div class="form-group">
                <label>DUE DATE</label>
                <input type="text" class="form-control" ng-model="project.name" autofocus required="">
            </div>
            <div class="form-group">
                <label>PRIORITY</label>
                <select id="priority" style="display: block;">
                    <option value="high">High</option>
                    <option value="normal">Normal</option>
                    <option value="low">Low</option>
                </select>
            </div>
            <div class="form-group">
                <label>TAGS</label>
                <select id="tags" style="display: block;">
                    <option value="high">High</option>
                    <option value="normal">Normal</option>
                    <option value="low">Low</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div ng-show="project.saveFailure" class="text-danger mb10">Oops! This is embarassing, something went wrong. Please try again.</div>
            <div ng-show="project.saveFailureDuplicate" class="text-danger mb10">A project with same name already exits. Please try again with a different name.</div>
            <button ng-hide="project.saving" type="submit" class="btn btn-success"
                    ng-click="saveProject();" ng-disabled="!project.name">SAVE ISSUE</button>
            <button ng-hide="project.saving" type="submit" class="btn btn-success"
                    ng-click="saveProject();" ng-disabled="!project.name">SAVE AND ADD ANOTHER</button>
            <button ng-show="project.saving" class="btn btn-success" disabled="disabled">SAVING...</button>
        </div>
    </form>
</div>